/*sideBarWidth = 220px;*/
/*contentWidth = 2 * sideBarWidth;*/
/*sideBarMiniWidth = 100px;*/
/*fullWidth = 100%;*/

/*.three-colums*/
/*@media (min-width: 992px)*/
/*#content*/
/*#right*/
/*float: left*/

/*#right*/
/*display block*/
/*padding 10px*/

/*#left*/
/*#right*/
/*width 20%*/

/*#content*/
/*width 60%*/
/*margin 0 !important*/

/*@media (min-width: 1200px)*/
/*#left*/
/*#right*/
/*width 15%*/

/*#content*/
/*width 70%*/

/*.side-right*/
/*#right*/
/*float: right*/
/*padding-top 20px*/
/*#content*/
/*width 85%*/
