//  Created by Table on 13-9-30.
m-movie-pic-height = 126px
.m-index-view
	padding-right 0
	padding-left 0
	.m-movie-type
		color #bebebe
		padding 5px 28px
	.m-movie-list
		margin 0
		img
			display inline-block
			max-width 100%
			margin 0 auto
			vertical-align middle
		li
			overflow hidden
			padding 10px 15px
			a
				display block
				height 99px
				text-decoration none
			.thumb
				border 1px solid #E0E0E0
				float left
				line-height 91px
				text-align center
				background #E9F1F4

			img
				width 67px
				height 94px

			h2
				height 22px
				line-height 22px
				overflow hidden
				font-size 1.2rem
				font-weight normal
				text-overflow ellipsis
				white-space nowrap
				padding-left 5px
				margin-bottom 4px
				margin-top 0px

			p
				padding 0 0 0 5px
				height 36px
				line-height 36px
				font-size 1.2rem
				word-wrap break-word