/*theme.css*/
baseColor = #428bca

#top > .navbar
	border-top 3px solid baseColor
	.dropdown-menu > li
		& > a:hover
		& > a:focus
			background-color baseColor

.viewport
#left
	background-color #333
