center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Transitions
tran()
	-webkit-transition arguments;
	transition arguments;

//clearfix
clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

//text-overflow
textOverflow()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

//box-shadow
boxShadow()
	-webkit-box-shadow arguments;
	box-shadow arguments;

